<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MesaDeExamen.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="conexionDB" connectionString="Data Source=localhost; Initial Catalog = mesasdeexamenes;Uid = root; pwd = sofiaanalista"/>
	</connectionStrings>
 <applicationSettings>
  <MesaDeExamen.App>
   <setting name="conexion" serializeAs="String">
    <value>Data Source=localhost; Initial Catalog = mesasdeexamenes;Uid = root; pwd = sofiaanalista</value>
   </setting>
  </MesaDeExamen.App>
 </applicationSettings>
</configuration>